<section id="products">
        <div class="line">
            <hr>
            <h2>New Arrivals</h2>
            <hr>
        </div>    
        <div class="product-row">
            <div class="product">
                <span class="add-cart-icon material-icons">local_offer</span>
                <p class="discount">-20%</p>
                <img src="assets/img/product.jpeg" alt="" />
                <h4>Product 1</h4>
                <div class="product-detail">
                    <div class="price">
                        <span class="material-icons p-icon">monetization_on</span>
                        <span class="sale-p">29.99</span>
                        <span class="regular-p">$35</span>
                    </div>
                    <div class="stars">
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                    </div>
                </div>    
                <button mat-raised-button color="primary">More Info</button>
            </div>
            <div class="product">
                <span class="add-cart-icon material-icons">local_offer</span>
                <p class="discount">-20%</p>
                <img src="assets/img/product.jpeg" alt="" />
                <h4>Product 1</h4>
                <div class="product-detail">
                    <div class="price">
                        <span class="material-icons p-icon">monetization_on</span>
                        <span class="sale-p">29.99</span>
                        <span class="regular-p">$35</span>
                    </div>
                    <div class="stars">
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                    </div>
                </div>    
                <button mat-raised-button color="primary">More Info</button>
            </div>
            <div class="product">
                <span class="add-cart-icon material-icons">local_offer</span>
                <p class="discount">-20%</p>
                <img src="assets/img/product.jpeg" alt="" />
                <h4>Product 1</h4>
                <div class="product-detail">
                    <div class="price">
                        <span class="material-icons p-icon">monetization_on</span>
                        <span class="sale-p">29.99</span>
                        <span class="regular-p">$35</span>
                    </div>
                    <div class="stars">
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                    </div>
                </div>    
                <button mat-raised-button color="primary">More Info</button>
            </div>
        </div>
        <div class="product-row">
            <div class="product">
                <span class="add-cart-icon material-icons">local_offer</span>
                <p class="discount">-20%</p>
                <img src="assets/img/product.jpeg" alt="" />
                <h4>Product 1</h4>
                <div class="product-detail">
                    <div class="price">
                        <span class="material-icons p-icon">monetization_on</span>
                        <span class="sale-p">29.99</span>
                        <span class="regular-p">$35</span>
                    </div>
                    <div class="stars">
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                    </div>
                </div>    
                <button mat-raised-button color="primary">More Info</button>
            </div>
            <div class="product">
                <span class="add-cart-icon material-icons">local_offer</span>
                <p class="discount">-20%</p>
                <img src="assets/img/product.jpeg" alt="" />
                <h4>Product 1</h4>
                <div class="product-detail">
                    <div class="price">
                        <span class="material-icons p-icon">monetization_on</span>
                        <span class="sale-p">29.99</span>
                        <span class="regular-p">$35</span>
                    </div>
                    <div class="stars">
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                    </div>
                </div>    
                <button mat-raised-button color="primary">More Info</button>
            </div>
            <div class="product">
                <span class="add-cart-icon material-icons">local_offer</span>
                <p class="discount">-20%</p>
                <img src="assets/img/product.jpeg" alt="" />
                <h4>Product 1</h4>
                <div class="product-detail">
                    <div class="price">
                        <span class="material-icons p-icon">monetization_on</span>
                        <span class="sale-p">29.99</span>
                        <span class="regular-p">$35</span>
                    </div>
                    <div class="stars">
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                        <span class="material-icons star">grade</span>
                    </div>
                </div>    
                <button mat-raised-button color="primary">More Info</button>
            </div>
        </div>
</section>
