<header>
    <div id="menu">
        <div class="container">
            <div id="logo">
                <h1>Example.com</h1>
            </div>
            <nav>
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/account">Account</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
